@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
  @include flex-orientation(column);
  gap: 1rem;
  margin: 1.5rem 0rem;

  &__label {
    @include flex-orientation(column);
    color: $slate700;
    font-size: 0.8rem;
    // margin-bottom: 0.5rem;
  }

  &__type {
    @include flex-orientation(column);
  }
  &__radio-label {
    @include flex-orientation(row);
  }
}

.amount {
  &__container {
    display: flex;
    @include input-border;
    margin-top: 0.5rem;
    height: 2.8rem;
  }
  &__pound {
    @include input-unit;
    width: 8%;
    text-align: center;
    padding-top: 0.6rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  &__input {
    border: none;
    width: 92%;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.year {
  &__container {
    display: flex;
    @include input-border;
    margin-top: 0.5rem;
    height: 2.8rem;
  }
  &__unit {
    @include input-unit;
    width: 15%;
    text-align: center;
    padding-top: 0.6rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.05rem;
    font-weight: bold;
  }
  &__input {
    border: none;
    width: 88%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

.interest {
  &__container {
    display: flex;
    @include input-border;
    margin-top: 0.5rem;
    height: 2.8rem;
  }
  &__unit {
    @include input-unit;
    width: 12%;
    text-align: center;
    padding-top: 0.6rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.05rem;
    font-weight: bold;
  }
  &__input {
    border: none;
    width: 88%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
