@use "./typography";
@use "./variables" as *;

@mixin flex-orientation($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin input-border {
  border: $slate700 solid 1px;
  border-radius: 5px;

  &:hover {
    border: 1.5px solid $slate700;
  }

  &:focus-within {
    border: 1.5px solid $lime;

    span {
      color: $slate900;
      background-color: $lime;
    }
  }
}

@mixin input-unit {
  color: $slate700;
  background-color: $slate100;
  display: inline-block;
}

@mixin input-tab {
  color: $slate900;
  font-family: "PlusJakartaSans";
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1rem;
  cursor: pointer !important;

  &:focus {
    outline: none;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
