@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.results {
  background-color: $slate900;
  color: white;
  min-height: 52vh;
  @include flex-orientation(column);

  &__no-result {
    @include flex-orientation(column);
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
  }

  &__image {
    width: 10rem;
    display: inline-block;
  }

  &__header {
    color: white;
    font-size: 1rem;
  }

  &__content {
    color: $slate500;
    text-align: center;
    font-size: 0.87rem;
    width: 80%;
  }
}

.payment {
  @include flex-orientation(column);
  padding: 1.6rem 1.5rem;
  gap: 1rem;

  &__header {
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }

  &__content {
    color: $slate500;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  &__box {
    @include flex-orientation(column);
    border-top: 3px solid $lime;
    background-color: #0e2431;
    border-radius: 10px;
    padding: 1rem 1rem;
    // gap: 1rem;
  }

  &__monthly {
    color: $slate700;
    font-size: 0.8rem;
    @include flex-orientation(column);
    gap: 0.3rem;
    margin-bottom: 0.8rem;

    &-amount {
      color: $lime;
      font-size: 1.5rem;
    }
  }

  &__total {
    @extend .payment__monthly;
    padding-top: 0.8rem;
    border-top: $slate300 solid 1px;

    &-amount {
      color: white;
      font-size: 1.1rem;
    }
  }
}
