@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.results {
  background-color: $slate900;
  color: white;
  min-height: 40vh;
  @include flex-orientation(column);
  justify-content: center;

  @include desktop {
    border-radius: 2.5rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 6rem;

    width: 50%;
  }

  &__no-result {
    @include flex-orientation(column);
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
  }

  &__image {
    width: 10rem;
    display: inline-block;

    @include desktop {
      width: 14rem;
    }
  }

  &__header {
    color: white;
    font-size: 1rem;

    @include desktop {
      font-size: 2rem;
    }
  }

  &__content {
    color: $slate500;
    text-align: center;
    font-size: 0.87rem;
    width: 80%;

    @include desktop {
      font-size: 1.1rem;
    }
  }
}

.payment {
  @include flex-orientation(column);
  padding: 1.6rem 1.5rem;
  gap: 1rem;

  &__header {
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }

  &__content {
    color: $slate500;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  &__box {
    @include flex-orientation(column);
    border-top: 3px solid $lime;
    background-color: #0e2431;
    border-radius: 10px;
    padding: 1rem 1rem;
    // gap: 1rem;
  }

  &__monthly {
    color: $slate700;
    font-size: 0.8rem;
    @include flex-orientation(column);
    gap: 0.3rem;
    margin-bottom: 0.8rem;

    &-amount {
      color: $lime;
      font-size: 1.5rem;
    }
  }

  &__total {
    @extend .payment__monthly;
    padding-top: 0.8rem;
    border-top: $slate300 solid 1px;

    &-amount {
      color: white;
      font-size: 1.1rem;
    }
  }
}
