@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.subtitle {
  color: $slate700;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  border-bottom: 0.2rem solid $slate700;
}
