@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.main {
  @include desktop {
    background-color: $slate100;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  &__container {
    @include flex-orientation(column);
    min-height: 35vh;

    @include desktop {
      flex-direction: row;
      background-color: white;
      width: 70%;
      margin: auto;
      border-radius: 5rem;
    }
  }
}
