@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.main {
  @include desktop {
    background-color: $slate100;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  &__container {
    @include flex-orientation(column);
    min-height: 35vh;

    @include desktop {
      flex-direction: row;
      background-color: white;
      width: 70%;
      margin: auto;
      border-radius: 5rem;
    }
  }
}

.form__container {
  padding: 1.6rem 1.5rem;
  min-height: 60vh;
  @include flex-orientation(column);
  justify-content: space-between;
  padding-bottom: 0rem;

  @include desktop {
    width: 50%;
    background-color: white;
    border-radius: 2.5rem;
    padding: 5.5rem 2rem;
  }
}

.header__container {
  margin-bottom: 1.8rem;
}
.clear {
  display: inline-block;
  color: $slate700;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  border-bottom: 0.08rem solid $slate700;
  cursor: pointer;
}
